<%- include("templates/header") %>
    <main class="form-signin w-25 m-auto">
      <h1 class="h3 mb-3 fw-normal">Create an account or log in</h1>
      <div class="d-flex gap-2 justify-content-center py-2">
        <button
          onclick="window.location.href='createUser'"
          class="btn btn-primary d-inline-flex align-items-center"
          type="button"
        >
          Sign up
        </button>
        <button
          onclick="window.location.href='login'"
          class="btn btn-primary d-inline-flex align-items-center"
          type="button"
        >
          Log in
        </button>
      </div>
    </main>
  </body>
</html>
<%- include("templates/footer") %>
